{{!< main }}
{{> breadcrumbs breadcrumbs }}

<h3>Open new edition</h3>

<form id="new-edition">
<div>
  <label>Year: </label>
  <input type="text" id="year" name="year" placeholder="Year" value="{{year}}" />
</div>
<div>
  <label>Slug: </label>
  <input type="text" id="slug" name="slug" placeholder="Slug" value="{{year}}" />
</div>
<div>
  <label>Theme: </label>
  <input type="text" id="theme" name="theme" placeholder="Theme of this compo" value="" />
</div>
<h4>Voting categories</h4>
<table class="table">
  <thead>
    <th>Enabled</th>
    <th>Name/Description</th>
    <th title="Voting will go from 0 to this value">Range</th>
    <th title="Value assigned by the judges will be multiplied by this in order to get the score">Multiplier</th>
    <th title="Maximum score that can be casted in this criteria">Score</th>
  </thead>
  <tbody>
  {{#each criteria}}
    <tr class="criterion" data-id="{{id}}">
      <td><input data-id="{{id}}" type="checkbox" id="criterion-enable-{{id}}" name="criterion-enable-{{id}}" checked /></td>
      <td><strong>{{title}}</strong>: {{description}}</td>
      <td><input data-id="{{id}}" type="text" id="criterion-range-{{id}}" name="criterion-range-{{id}}" value="10"/></td>
      <td><input data-id="{{id}}" type="text" id="criterion-multiplier-{{id}}" name="criterion-multiplier-{{id}}" value="{{suggested_multiplier}}"/></td>
      <td class="score" id="score-{{id}}"></td>
    <tr>
  {{/each}}
  <tr>
    <td colspan="3"></td>
    <td>Max. score per entry:</td>
    <td><span id="total-score">0</span></td>
  </tr>
  </tbody>
</table>


<button id="submit" type="submit" class="btn btn-primary">Open edition</button>
<a href="/admin/editions">Cancel</a>
</form>
{{#contentFor "pageScripts"}}
$(document).ready(function() {
  $('tr.criterion').each(function(x) {
    updateScore($(this).attr('data-id'));
  });
  updateTotalScore();
});

$('.criterion input').on('change', function(ev) {
  updateScore($(this).attr('data-id'));
  updateTotalScore();
});

function updateScore(id) {
  var range = $('#criterion-enable-' + id).is(':checked') ? parseInt($('#criterion-range-' + id).val()) : 0;
  var mult = parseInt($('#criterion-multiplier-' + id).val());
  $('td#score-' + id).html(range * mult);
}

function updateTotalScore() {
  var total = 0;
  $('td.score').each(function(x) {
    total += parseInt($(this).html());
  });
  $('#total-score').html(total);
  return total;
}

$('#submit').on('click', function(ev) {
  ev.preventDefault();
  var total = updateTotalScore();
  if (total !== 100) {
    alert('You can not open a new edition with a maximum score != 100');
    return false;
  }

  $.ajax({
    url: '/admin/editions',
    type: 'post',
    data: $('#new-edition').serialize()
  })
  .done(function(data) {
    if (data.status === 'ok') {
      window.location.replace('/admin/editions');
    }
  })
  .fail(function(err) {
    alert(err.responseText);
  });
});

{{/contentFor}}
