{{!< main }}

{{#unless entry}}
<h3>Submission not found!</h3>

<p>The game you are looking for doesn't exist or hasn't been approved yet. Go back to the <a href="/admin/submissions">admin panel</a> and try again.</p>
{{else}}
<h2>Vote</h2>
<div class="row submission-details">
  <div class="columns col-xs-5 image">
    <img src="/games/{{entry.slug}}/__big.jpg" alt="{{entry.title}}" />
  </div>
  <div class="columns col-xs-7">
    <h3>{{entry.title}}</h3>
    <p><strong>Author:</strong> {{entry.author}}</p>
    <p><strong>Twitter:</strong> @{{entry.twitter}}</p>
    <p><strong>File size:</strong> {{entry.file_size}} KB</p>
    <p><strong>Github URL:</strong> <a href="{{entry.githubUrl}}">{{entry.githubUrl}}</a></p>
    <p><strong>Description:</strong> {{entry.description}}</p>
  </div>
</div>
<!-- if server -->
<!-- a href="{$entry->server_url }" target="_blank" class="launch">Play the game</a -->
<!-- else -->
<h3>1. Play the game</h3>
<a href="/games/{{entry.slug}}/index.html" target="_blank" class="play launch btn btn-primary">
  <i class="fa fa-gamepad" aria-hidden="true"></i>Play the game
</a>

{{#voteCasted}}
<h3>2. This is what you voted:</h3>
{{else}}
<h3 class="cast-title">2. Cast your vote</h3>
<p class="theme">Remember that this year's theme is <strong>{{theme}}</strong></p>
{{/voteCasted}}
<form id="voting-widgets">
  <input type="hidden" name="submission_id" value="{{entry.id}}" />
  <input type="hidden" name="user_id" value="{{user.id}}" />
  <table class="table">
    <thead>
      <tr>
        <th>Criterion</th>
        <th>Description</th>
        <th>Score</th>
        <th>Multiplier</th>
      <tr>
    </thead>
    {{#each criteria}}
      {{> criterion}}
    {{/each}}
    {{^criteria}}
    <tr>
      <td colspan="4">There were no criteria defined for this entry, so the score is global</td>
    </tr>
    {{/criteria}}
    <tr>
      <td colspan="3" class="total-title">Total Score</td>
      <td class="total-value">{{#voteCasted}} {{score}} {{else}}0{{/voteCasted}}</td>
    </tr>
  </table>
  <div id="comment-posted-container" class="{{^voteCasted}}hide{{/voteCasted}}" style="margin-top: 20px">
    <h3>3. Your comments</h3>
    <div id="comment-posted">{{#comment}}{{text}}{{else}}No comments{{/comment}}</div>
  </div>
  <a class="btn btn-danger back-link">Back</a>
  {{^voteCasted}}
  <div id="comment-widget">
    <h3>3. Add comment (optional)</h3>
    <textarea id="comment" class="text form-control" name="comment" cols="40" rows="3"></textarea>
    <div>
      <h3>4. Submit your vote</h3>
      <a class="btn btn-danger back-link">Back</a>
      <button id="vote" class="btn btn-primary">Submit</button>
    </div>
  </div>
  {{/voteCasted}}
</form>
{{/unless}}

{{#contentFor "pageScripts"}}
$('.criterion').on('change', function(e) {
  var total = 0;
  $('select option:selected').each(function() {
    var value = $(this).val();
    var multiplier = $(this).parent().attr('data-multiplier');
    if (value) {
      total += parseInt(value) * parseInt(multiplier);
    }
  });
  $('.total-value').text(total);
});

$('#vote').on('click', function(ev) {
  ev.preventDefault();
  var id = $('input[name="submission_id"]').val();
  $('#voting-results').html('Voting in progress. Please, wait...');
  $.ajax({
    url: '/admin/submissions/' + id + '/vote',
    method: 'post',
    data: $('#voting-widgets').serialize()
  }).done(function(result) {
    console.log('status', result);
    disableVotingWidgets();
    alert('Voting done. Your score was ' + result.score);
  }).fail(function(err) {
    disableVotingWidgets();
    alert('Ops, an error occurred while trying to save your score: ' + err + '.\n\nTry reloading the page and if the ' + 
      'error persist, please send an email to contact@js13kgames.com');
  });
});

function disableVotingWidgets() {
  $('.criterion').attr('disabled', true);
  $('#comment-widget').addClass('hide');
  $('#comment-posted-container').removeClass('hide');
  $('#comment-posted').html($('#comment').val());
  $('.theme').addClass('hide');
  $('.cast-title').html('This is what you voted:');
}

$('.back-link').on('click', function(e) {
  e.preventDefault();
  var voteCasted = {{voteCasted}};
  var total = $('.total-value').text();
  if (total !== "0" && !voteCasted) {
    cont = confirm("Are you sure you want to go back? All current changes will be lost.");
    if (!cont) {
      return;
    }
  }
  window.location = "/admin/submissions";
});
{{/contentFor}}
