<tr>
  <td>
    <label alt="{{obj.criterion.description}}" title="{{obj.criterion.description}}">{{obj.criterion.title}}</label>
  </td>
  <td>
  <select>
    <option value="" disabled selected>-</option>
    {{#each scores}}
      <option {{#eq this ../default}}selected{{/eq}} value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  </td>
</tr>
