<tr>
  <td>
    <label alt="{{obj.criterion.description}}" title="{{obj.criterion.description}}">{{obj.criterion.title}}</label>
  </td>
  {{#each scores}}
  <td>
    <label>{{this}}</label>
    <input type="radio" value="{{this}}" name="criterion_{{../obj.criterion.slug}}-{{../obj.id}}" title="{{this}}" {{#eq this ../default}}checked{{/eq}} style="margin-right: 20px;"/>
  </td>
  {{/each}}
</tr>
