<div>
<label>{{obj.criterion.title}}</label>
{{#each scores}}
  <label>{{this}}</label><input type="radio" value="{{this}}" name="{{../obj.criterion.slug}}-{{../obj.criterion.id}}" title="{{this}}" {{#eq this 5}}checked{{/eq}} style="margin-right: 20px;"/>
{{/each}}
</div>
