<tr>
  <td>
    <label alt="{{criterion.description}}" title="{{criterion.description}}">{{criterion.title}}</label>
  </td>
  <td>
    <p>{{criterion.description}}</p>
  </td>
  <td>
    <select class="criterion" data-multiplier="{{multiplier}}" name="criterion_{{criterion.slug}}-{{criterion.id}}" {{#casted}}disabled{{/casted}} required>
      <option value="" disabled selected>-</option>
      {{#each options}}
        <option {{#eq this ../value}}selected{{/eq}} value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <label>x {{multiplier}}</label>
  </td>
</tr>
