{{!< main }}

<h3>{{#showPending}}Pending{{else}}Approved{{/showPending}} submissions ({{count}}) for the {{year}} edition.</h3>
<p>Submissions will be ordered randomly every time you load the page to give all participants the opportunity to appear
in the top positions of the table.</p>
{{#gt count 0}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>File Size (KB)</th>
      <th>Avg. Score</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {{#each entries}}
  <tr class="submission-{{id}}">
      <td>{{title}}</td>
      <td>{{author}}</td>
      <td>{{file_size}}</td>
      <td>{{score}}</td>
      <td>
        {{#unless active}}
        <a data-id="{{id}}" data-title="{{title}}" data-author="{{author}}" class="submission-action accept btn btn-success">
          <i class="fa fa-check-circle fa-lg"></i>
          Accept
        </a>
        <a data-id="{{id}}" data-title="{{title}}" data-author="{{author}}" class="submission-action reject btn btn-danger">
          <i class="fa fa-times-circle fa-lg"></i>
          Reject
        </a>
        {{/unless}}
        <a class="btn btn-primary" href="/admin/submissions/{{id}}">
          <i class="fa fa-envelope-open fa-lg"></i>
          View
        </a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
  {{#showPending}}
  <p>Yay! You don't have pending submissions.</p>
  {{else}}
  <p>There are no approved submissions yet. Please, come back later.</p>
  {{/showPending}}
{{/gt}}

{{#contentFor "pageScripts"}}
$('a.submission-action.accept').click(function(ev) {
  ev.preventDefault();
  var cont = confirm('Are you sure you want to accept the entry "' + $(this).attr('data-title') + '" from ' + $(this).attr('data-author') + '?');
  if (!cont) return;

  var id = $(this).attr('data-id');
  $.ajax({
    url: '/admin/submissions/' + id,
    type: 'put'
  })
  .done(function(data) {
    hideSubmissionControls(id);
  })
  .fail(function(err) {
    alert(err.responseText);
  });
});

$('a.submission-action.reject').click(function(ev) {
  ev.preventDefault();
  var cont = confirm('Are you sure you want to reject the entry "' + $(this).attr('data-title') + '" from ' + $(this).attr('data-author') + '?');
  if (!cont) return;

  var id = $(this).attr('data-id');
  $.ajax({
    url: '/admin/submissions/' + id,
    type: 'delete'
  })
  .done(function(data) {
    removeSubmission(id);
  })
  .fail(function(err) {
    alert(err.responseText);
  });
});

function hideSubmissionControls(id) {
  $('a.submission-action[data-id="' + id + '"]').hide();
}
function removeSubmission(id) {
  $('.submission-' + id).remove();
}
{{/contentFor}}
