{{!< main }}

{{#unless entry}}
<h3>Submission not found!</h3>

<p>The game you are looking for doesn't exist or hasn't been approved yet. Go back to the <a href="/admin/submissions">admin panel</a> and try again.</p>
{{else}}
<h3>{{entry.title}}</h3>
<div><img src="/games/{{entry.slug}}/__big.jpg" alt="{{entry.title}}" /></div>

<p><strong>File size:</strong> {{entry.file_size}} KB</p>
<p><strong>Author:</strong> {{entry.author}}</p>
<p><strong>Description:</strong> {{entry.description}}</p>
<!-- if server -->
<!-- a href="{$entry->server_url }" target="_blank" class="launch">Play the game</a -->
<!-- else -->
<a href="/games/{{entry.slug}}/index.html" target="_blank" class="launch">Play the game</a>

{{#voteCasted}}
<h3>This is what you voted:</h3>
{{else}}
<h3 class="cast-title">Cast your vote</h3>
<p class="theme">Remember that this year's theme is <strong>{{theme}}</strong></p>
{{/voteCasted}}
<form id="voting-widgets">
  <input type="hidden" name="submission_id" value="{{entry.id}}" />
  <input type="hidden" name="user_id" value="{{user.id}}" />
  <table class="table">
    {{#each criteria}}
      {{> criterion}}
    {{/each}}
    <tr>
      <td colspan="2" class="total-title">Total</td>
      <td class="total-value">{{#voteCasted}} {{score}} {{else}}0{{/voteCasted}}</td>
    </tr>
  </table>
  <div id="comment-posted-container" class="{{^voteCasted}}hide{{/voteCasted}}" style="margin-top: 20px"><strong>Comments:</strong> <span id="comment-posted">{{comment.text}}</span></div>
  {{^voteCasted}}
  <div id="comment-widget">
    <h3>Add comment:</h3>
    <textarea id="comment" class="text" name="comment" cols="40" rows="5"></textarea>
    <div>
      <button id="vote" class="btn-primary">Vote</button>
    </div>
  </div>
  {{/voteCasted}}
</form>
{{/unless}}

{{#contentFor "pageScripts"}}
$('.criterion').on('change', function(e) {
  var total = 0;
  $('select option:selected').each(function() {
    var value = $(this).val();
    var multiplier = $(this).parent().attr('data-multiplier');
    if (value) {
      total += parseInt(value) * parseInt(multiplier);
    }
  });
  $('.total-value').text(total);
});

$('#vote').on('click', function(ev) {
  ev.preventDefault();
  var id = $('input[name="submission_id"]').val();
  $('#voting-results').html('Voting in progress. Please, wait...');
  disableVotingWidgets();
  $.ajax({
    url: '/admin/submissions/' + id + '/vote',
    method: 'post',
    data: $('#voting-widgets').serialize()
  }).done(function(result) {
    console.log('status', result);
    alert('Voting done. Your score was ' + result.score);
  }).fail(function(err) {
    alert('Ops, an error occurred while trying to save your score: ' + err + '.\n\nTry reloading the page and if the ' + 
      'error persist, please send an email to contact@js13kgames.com');
  });
});

function disableVotingWidgets() {
  $('.criterion').attr('disabled', true);
  $('#comment-widget').addClass('hide');
  $('#comment-posted-container').removeClass('hide');
  $('#comment-posted').html($('#comment').val());
  $('.theme').addClass('hide');
  $('.cast-title').html('This is what you voted:');
}
{{/contentFor}}
