{{!< main }}

{{#unless entry}}
<h3>Submission not found!</h3>

<p>The game you are looking for couldn't be found. Go back to the <a href="/admin/submissions">admin panel</a> and try again.</p>
{{else}}
<h3>{{entry.title}}</h3>
<p><strong>Author:</strong> {{entry.author}}</p>
<div><img src="/games/{{entry.slug}}/__big.jpg" alt="{{entry.title}}" /></div>
<p>{{entry.description}}</p>
<!-- if server -->
<!-- a href="{$entry->server_url }" target="_blank" class="launch">Play the game</a -->
<!-- else -->
<a href="/games/{{entry.slug}}/index.html" target="_blank" class="launch">Play the game</a>

<h3>Cast your vote</h3>

{{/unless}}
