{{!< main }}

<h3>All submissions ({{count}}) for the {{year}} edition.</h3>

{{#gt count 0}}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Avg. Score</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {{#each entries}}
  <tr class="submission-{{id}}">
      <td>{{title}}</td>
      <td>{{score}}</td>
      <td>
        {{#unless active}}
        <a href="" data-id="{{id}}" data-title="{{title}}" class="submission-action accept">Accept</a>
        <a href="" data-id="{{id}}" data-title="{{title}}" class="submission-action reject">Reject</a>
        {{/unless}}
        <a href="/admin/submissions/{{id}}">Show
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{/gt}}

{{#contentFor "pageScripts"}}
$('a.submission-action.accept').on('click', function(ev) {
  ev.preventDefault();
  var id = $(this).attr('data-id');
  $.ajax({
    url: '/admin/submissions/' + id,
    type: 'put'
  })
  .done(function(data) {
    hideSubmissionControls(id);
  })
  .fail(function(err) {
    alert(err.responseText);
  });
});

$('a.submission-action.reject').on('click', function(ev) {
  ev.preventDefault();
  var cont = confirm('Are you sure you want to reject the entry "' + $(this).attr('data-title') + '"?');
  if (!cont) return;

  var id = $(this).attr('data-id');
  $.ajax({
    url: '/admin/submissions/' + id,
    type: 'delete'
  })
  .done(function(data) {
    removeSubmission(id);
  })
  .fail(function(err) {
    alert(err.responseText);
  });
});

function hideSubmissionControls(id) {
  $('a.submission-action[data-id="' + id + '"]').hide();
}
function removeSubmission(id) {
  $('.submission-' + id).remove();
}
{{/contentFor}}
