{{!< main }}

<h3>Editions</h3>

{{#gt count 0}}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Theme</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {{#each editions}}
  <tr class="edition-{{id}}">
      <td>{{title}}</td>
      <td>{{slug}}</td>
      <td>{{theme}}</td>
      <td class="statuses">
        <span class="status open" {{#unless active}}style="display: none"{{/unless}}>Open</span>
        <span class="status closed" {{#if active}}style="display: none"{{/if}}>Closed</span>
      </td>
      <td class="actions">
        <a href="#" data-id="{{id}}" data-action="open" class="action open" {{#if active}}style="display: none"{{/if}}>Activate</a>
        <a href="#" data-id="{{id}}" data-action="close" class="action close" {{#unless active}}style="display:none"{{/unless}}>Close</a>
        <a href="#" data-id="{{id}}" data-action="delete" class="delete"{{#unless active}}style="display:none"{{/unless}}>Delete</a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
<h4>Not editions were found</h4>
{{/gt}}
<a href="/admin/editions/new">Open new edition</a>

{{#contentFor "pageScripts"}}
$('a.delete').on('click', function(ev) {
  ev.preventDefault();

  $.ajax({
    url: '/admin/editions/' + $(this).attr('data-id'),
    type: 'delete'
  })
  .done(function(data) {
    if (data.status === 'ok') {
      // TODO: Flash message
      $('.edition-' + data.id).remove();
    }
  })
  .fail(function(err) {
    alert(err.responseText);
  });
});

$('a.action').on('click', function(ev) {
  ev.preventDefault();

  var action = $(this).attr('data-action');

  $.ajax({
    url: '/admin/editions/' + $(this).attr('data-id'),
    type: 'put',
    data: { action: action }
  })
  .done(function(data) {
    if (data.status === 'ok') {
      // TODO: Flash message
      if (data.action === 'close') {
        $('.edition-' + data.id + ' > .actions > .action.close').hide();
        $('.edition-' + data.id + ' > .actions > .delete').hide();
        $('.edition-' + data.id + ' > .actions > .action.open').show();
        $('.edition-' + data.id + ' > .statuses > .status.open').hide();
        $('.edition-' + data.id + ' > .statuses > .status.closed').show();
      } else if (data.action === 'open') {
        $('.edition-' + data.id + ' > .actions > .action.close').show();
        $('.edition-' + data.id + ' > .actions > .delete').show();
        $('.edition-' + data.id + ' > .actions > .action.open').hide();
        $('.edition-' + data.id + ' > .statuses > .status.open').show();
        $('.edition-' + data.id + ' > .statuses > .status.closed').hide();
      }
    }
  })
  .fail(function(err) {
    alert(err.responseText);
  });
});
{{/contentFor}}
