{{!< main }}

<h3>Editions</h3>

{{#gt count 0}}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Theme</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {{#each editions}}
  <tr class="edition-{{id}}">
      <td>{{title}}</td>
      <td>{{slug}}</td>
      <td>{{theme}}</td>
      <td class="status">{{#if active}}<span class="open">Open</span>{{else}}<span class="closed">Closed</span>{{/if}}</td>
      <td class="actions">
        {{#if active}}
        <a href="" data-id="{{id}}" data-title="{{title}}" class="edition-action close">Close</a>
        <a href="" data-id="{{id}}" data-title="{{title}}" class="edition-action delete">Delete</a>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
<h4>Not editions were found</h4>
{{/gt}}
<a href="/admin/editions/new">Open new edition</a>

{{#contentFor "pageScripts"}}
$('.edition-action.delete').on('click', function(ev) {
  ev.preventDefault();

  $.ajax({
    url: '/admin/editions/' + $(this).attr('data-id'),
    type: 'delete'
  })
  .done(function(data) {
    if (data.status === 'ok') {
      // TODO: Flash message
      $('.edition-' + data.id).remove();
    }
  })
  .fail(function(err) {
    alert(err.responseText);
  });
});

$('.edition-action.close').on('click', function(ev) {
  ev.preventDefault();

  $.ajax({
    url: '/admin/editions/' + $(this).attr('data-id') + '/close',
    type: 'post'
  })
  .done(function(data) {
    if (data.status === 'ok') {
      // TODO: Flash message
      $('.edition-' + data.id + ' > .actions').remove();
      $('.edition-' + data.id + ' > .status').html('<span class="closed">Closed</span>');
    }
  })
  .fail(function(err) {
    alert(err.responseText);
  });
});
{{/contentFor}}
