{{!< main }}

<h3>Editions</h3>

{{#gt count 0}}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Theme</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {{#each editions}}
  <tr class="edition-{{id}}">
      <td>{{title}}</td>
      <td>{{slug}}</td>
      <td>{{theme}}</td>
      <td>{{#if active}}<span class="open">Open</span>{{else}}<span class="closed">Closed</span>{{/if}}</td>
      <td>
        {{#if active}}
        <a href="" data-id="{{id}}" data-title="{{title}}" class="edition-action close">Close</a>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
<h4>Not editions were found</h4>
{{/gt}}
<a href="/admin/editions/new">Open new edition</a>
