{{!< main }}
<div id="submit-container">
  <div  class="columns col-xs-12" >
  <h2>Submit Form</h2>

  {{#if form.errors}}
  <p class="error">There are some errors below that you need to fix to proceed with your submission:</p>
  <ul>
    {{#each form.errors}}
    <li><strong>{{field}}</strong>: {{message}}</li>
    {{/each}}
  </ul>
  {{/if}}
  <article class="form submit">
    <h3>Read the <a href="/#rules">rules</a> before submitting your game!</h3>

    <form action="/submit" method="post" enctype="multipart/form-data" class="form-horizontal">
      <input type="hidden" name="csrf" value="{{csrfToken}}" />
      <input type="hidden" name="editionId" value="{{editionId}}" />

      <div class="form-group">
        <label for="nick" class="required col-sm-5 control-label">Name &frasl; nick:</label>
        <div class="col-sm-4">
          <input id="nick" class="form-control" type="text" name="author" data-form-id="author" maxlength="50" value="{{form.author}}" required />
          <span class="error" data-form-id="author">{{form.errors.author}}</span>
        </div>
      </div>
      <div class="form-group twitter">
        <label for="twitter" class="col-sm-5 control-label">Twitter username:</label>
        <div class="input-group col-sm-4">
          <div class="input-group-addon">@</div>
          <input id="twitter" class="form-control" type="text" name="twitter" data-form-id="twitter" maxlength="50" value="{{form.twitter}}" />
          <span class="error" data-form-id="twitter">{{form.errors.twitter}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="website" class="col-sm-5 control-label">Your website:</label>
        <div class="col-sm-4">
          <input id="website" class="form-control" type="text" name="website_url" data-form-id="websiteUrl" placeholder="http://" maxlength="200" value="{{form.websiteUrl}}" />
          <span class="error" data-form-id="websiteUrl">{{form.errors.websiteUrl}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="required col-sm-5 control-label">E-mail address <span>(won't be published)</span>:</label>
        <div class="col-sm-4">
          <input id="email" class="form-control" type="email" name="email" data-form-id="email" maxlength="100" value="{{form.email}}" required />
          <span class="error" data-form-id="email">{{form.errors.email}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="github" class="required col-sm-5 control-label">Link to the GitHub repository:</label>
        <div class="col-sm-4">
          <input id="github" class="form-control" type="text" name="github_url" data-form-id="githubUrl" maxlength="200" placeholder="http://github.com/" value="{{form.githubUrl}}" required />
          <span class="error" data-form-id="githubUrl">{{form.errors.githubUrl}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="title" class="required col-sm-5 control-label">Title of the game:</label>
        <div class="col-sm-4">
          <input id="title" class="form-control" type="text" name="title" data-form-id="title" maxlength="100" value="{{form.title}}" required />
          <span class="error" data-form-id="slug">{{form.errors.slug}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="required col-sm-5 control-label">Categories:</label>
        <div class="col-sm-4">
          {{#each categories}}
          <div class="checkbox">
            <label>
              <input id="cat_{{id}}" type="checkbox" name="categories[]" value="{{id}}"/>{{title}}
            </label>
          </div>
          {{/each}}
          <span class="error" data-form-id="categories">{{form.errors.categories}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="required col-sm-5 control-label">Short game description:</label>
        <div class="col-sm-4">
          <textarea id="description" class="form-control" name="description" data-form-id="description" cols="1" rows="3" required>{{form.description}}</textarea>
          <span class="error" data-form-id="description">{{form.errors.description}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="file" class="required col-sm-5 control-label">Upload the .zip package:</label>
        <div class="col-sm-4">
          <input type="file" name="file" id="file" data-form-id="fileZip" accept="application/zip" required />
          <span class="error" data-form-id="fileZip">{{form.errors.fileZip}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="image1" class="required col-sm-5 control-label">Small screenshot (160px &times; 160px):</label>
        <div class="col-sm-4">
          <input type="file" name="small_screenshot" id="image1" data-form-id="smallScreenshot" accept="image/*" required />
          <span class="error" data-form-id="smallScreenshot">{{form.errors.smallScreenshot}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="image2" class="required col-sm-5 control-label">Big screenshot (400px &times; 250px):</label>
        <div class="col-sm-4">
          <input type="file" name="big_screenshot" id="image2" data-form-id="bigScreenshot" accept="image/*" required />
          <span class="error" data-form-id="bigScreenshot">{{form.errors.bigScreenshot}}</span>
        </div>
      </div>
      <!-- p class="bottom">
        <label for="spam" class="required">{ $form['num'][0] } + { $form['num'][1] } = </label>
        <input type="text" id="spam" class="text" name="spam" size="2" />
        <abbr title="Spam protection">(?)</abbr>
      </p -->
      <p class="bottom">
        <input type="submit" id="submit" name="formSubmit" class="submit" value="Submit" />
      </p>
    </form>
  </article>
  </div>
</div>
{{#contentFor "pageScripts"}}
$('#submit').click(function() {
  var checked = $('input[type="checkbox"]:checked').length;

  if (checked <= 0) {
    alert('You must select at least one category');
    return false;
  }
});
{{/contentFor}}
